.ChangedEntry {
    background-color: #FFCCCC;
}

#BrowsePage_Bottom {
    position: absolute;
    bottom: 10px;
}

.UserAccount {
    position:absolute;
    right: 8px;
    top: 8px;
}

.UserAccountDiv {
    padding:5px;
}

.UserAccountDiv:Hover {
    cursor: pointer;
    background-color: #444444;
    color: #bbbbbb;
}
